@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #d3d6d6;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
